.ant-layout-sider-trigger {
  transform: scale(-1);
}
.logo {
  color: white;
  text-align: center;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.panel .panel-title {
  padding: 1rem;
  font-size: 2rem;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  border: 1px solid #f0f0f0;
}
.ant-back-top.back-to-top {
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 50%;
  bottom: 2rem;
}
.man-icon svg {
  margin-top: 0.65rem;
}
.woman-icon svg {
  margin-top: 0.75rem;
  transform: scale(1.25);
}
.form {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  max-width: 45rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}