.DataTable .ant-table-cell {
    text-align: right;
}
.DataTable .ant-tag {
    direction: ltr;
    width: 100%;
    display: block;
    padding: 0.25rem;
    text-align: center;
}
.ant-dropdown-menu-title-content {
    flex: none !important;
}
.ant-dropdown-menu-title-content .ant-checkbox-wrapper {
    margin-left: 5px;
}
.DataTable .ant-table-column-sorters {
    flex-direction: row-reverse;
}
.Reload {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.Reload:hover {
    background-color: whitesmoke;
}
.Reload span {
    margin-top: 0.5rem;
}