.DataTable .ant-table-cell {
    text-align: right;
}
.DataTable .ant-tag {
    direction: ltr;
    width: 100%;
    display: block;
    padding: 0.25rem;
    text-align: center;
}
.ant-dropdown-menu-title-content {
    flex: none !important;
}
.ant-dropdown-menu-title-content .ant-checkbox-wrapper {
    margin-left: 5px;
}
.DataTable .ant-table-column-sorters {
    flex-direction: row-reverse;
}
.ant-alert-message {
    margin-right: 0.5rem;

}
.Reload , .Refresh {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    transition: all 0.3s ease;
}
.Reload:hover , .Refresh:hover{
    background-color: whitesmoke;
}
.Reload span , .Refresh span {
    margin-top: 0.5rem;
}
.Refresh {
    left: 13.5rem;
}
.error-container {
    position: fixed;
    bottom: 2rem;
    right: 0;
    width: 100vw;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-container .ant-alert {
    width: 50rem;
}
.ant-pagination-item-link {
    transform: scale(-1);
}